<div class="row">
    <div class="col-md-3">
        <filemanager [files]="files" (choosed)="onChoosing($event)" [interpretManager]="interpretManager" [curUserFiles]="curUserFiles">Loading...</filemanager>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <textwindow [interpretManager]="interpretManager">Loading...</textwindow>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <editcell [interpretManager]="interpretManager">Loading...</editcell>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <output [interpretManager]="interpretManager">Loading...</output>
    </div>
</div>